#home{
    height: 740px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background: url('../images/bg2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index:  -2;
    background-color: aqua;
}

#about{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color:  #F75959;
}

.faqSection{
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-group-item {
background-color: transparent;
border-radius: 0;
color: #fff;
}

.list-group-item.active{
    background-color: #CC4949;
    border-color: transparent;
}

#faqTop{
    padding-top: 10px;
}

hr {
width: 50%;
margin-top: 15px;
border: 0;

border-bottom: 4px dotted white;
    border-radius: 0.7;
}

.faqAbout{
        font-size: 14px;
    margin-top: 10px;
    padding-top: 20px;
}

.headingAbout{
    font-size: 14px;
}

.paragraphAbout{
    color: white;
    font-size: 12px;
    padding-top: 5px;
}

.jumbotron{
    background-color: rgba(0,0,0, 0.8);
    color: inherit;
    height: inherit;
    z-index: 0;
}

.jumbotron .customH1 {
    margin-top: 200px;
    color: #ecebd9;
    font-size: 70px;  
    font-weight: bold;

}
.customP1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ecebd9;
    font-size: 20px;  
    
}
.customP2{
    padding-top: 10px;
    color: #ecebd9;
    font-size: 15px;  
    
    
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: inherit; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* navbar backgroudn */
.navbar {
	background-color: rgba(0,0,0, 0.9) !important;
}

.nav-link{
	text-decoration-color: white;
}

/* setting the togler to white  */
.custom-toggler.navbar-toggler {
	border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}