#home{

	background: #06282B;  For browsers that do not support gradients 
	background: -webkit-linear-gradient(#06282B, #000000); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#06282B, #000000); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#06282B, #000000); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#06282B, #000000); /* Standard syntax */


	height: 500px;

}



/* navbar backgroudn */
.navbar {
	background-color: transparent !important;
}

.nav-link{
	text-decoration-color: white;
}

/* setting the togler to white  */
.custom-toggler.navbar-toggler {
	border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}